* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #000000;
  padding: 20px;
  margin: 0;
  display: grid;
  justify-content: center;
  align-items: center;
}

/* modal */
.modalTop {
  width: 300px;
}
#openModalBTN {
  background-color: #e52727;
  color: white;
  margin-top: 20px;
  padding: 5px;
  border-style: none;
  border: 2px solid brown;
  border-radius: 10px;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
  position: relative;
}
.underLine {
  text-decoration: underline;
  color: #ad0303;
}
.close {
  color: #ffffff;
  border-radius: 5px;
  background-color: rgb(234, 81, 81);
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  border: #e52727 solid 1px;
  padding: 10px;
  position: absolute;
  top: 15px;
  right: 15px;
}

/* calculator */
.calculatorBottom {
  margin-top: 30px;
}
.calculator {
  background-color: #fff9f9;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
}
#display {
  width: 100%;
  height: 70px;
  background-color: #e1e1e1;
  color: #382b2b;
  border-radius: 10px;
  padding: 15px;
  text-align: right;
  font-size: 3em;
  margin-bottom: 30px;
  border: 2px solid #707070;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background-color: #ffffff;
}
#pauls {
  grid-row: span 2;
}
button {
  padding: 5px;
  width: 100%;
  background-color: #707070;
  color: #ffffff;
  border-radius: 10px;
  font-size: 1.5em;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #3d3c3c;
  color: #e1e1e1;
}
